/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  height: 100%;
  background-color: #f8f8f8;
  border: none;
  z-index: 1000;
  -webkit-transition: left 0s ease;
          transition: left 0s ease;
  overflow-y: auto;
}
.sidebar .sidebar-inner {
  position: relative;
  height: 100%;
}
@media (min-width: 768px) {
  .sidebar {
    border-right: solid 1px #e8e8e8;
    left: 0;
  }
  .sidebar.sidebar-collapsed {
    left: 0;
  }
}
.sidebar-header {
  position: relative;
  border-bottom: 1px solid #e8e8e8;
  height: 126px;
  background-color: #4DA47C;
  color: #fff;
  /*box-shadow: 0 2px 1px rgba(0, 0, 0, 0.05);*/
}
.sidebar-header a {
  color: #fff;
}
.sidebar-header .brand {
  height: 20px;
  font-size: 16px;
}
.sidebar-header .brand:hover,
.sidebar-header .brand:focus {
  text-decoration: none;
  color: #eaeaea;
  background-color: transparent;
}
.sidebar-header .notify {
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 20px;
  z-index: 2;
}
.sidebar-header .notify:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.sidebar-header .logout {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 18px;
  z-index: 2;
}
.sidebar-header .logout:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.sidebar-header .avatar {
  position: relative;
  padding-left: 20px;
  padding-top: 20px;
}
.sidebar-header .avatar img {
  /*margin: 0 4px;*/
  width: 50px;
  height: 50px;
  border-radius: 50px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
}
.sidebar-header .info {
  position: relative;
  line-height: normal;
  padding-top: 10px;
}
.sidebar-header .info .name {
  padding-left: 20px;
  font-size: 16px;
}
.sidebar-header .info .email {
  padding-left: 20px;
  font-size: 14px;
}
.sidebar-menu .list-item {
  font-size: 16px;
  line-height: 46px;
}
.sidebar-menu .list-item.active:hover {
  -webkit-transform: none;
          transform: none;
}
.sidebar-menu .list-item .icon {
  display: inline-block;
  margin-left: 20px;
  width: 20px;
  text-align: center;
}
.sidebar-menu .list-item .text {
  display: inline-block;
  margin-left: 10px;
  width: 120px;
  text-align: left;
}
.sidebar-menu .list-item .action {
  display: inline-block;
  margin-left: 35px;
  width: 20px;
  font-size: 25px;
}
.sidebar-mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
  z-index: 10;
  visibility: hidden;
  -webkit-transition: visibility 0.1s ease;
          transition: visibility 0.1s ease;
}
.sidebar-mask.visible {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .sidebar-mask.visible {
    visibility: hidden;
  }
}
