<div class="bind-wrapper">
  <div class="bind-title">
    <i class="fa fa-file-text"></i>
    {{"DEVICE_BIND_TITLE"|translate}}
  </div>
  <div class="bind-description">
    {{"DEVICE_BIND_CONFIRM_DESCRIPTION"|translate}}
  </div>
  <div class="bind-info">
    <div class="info-detail">
      <label>{{"DEVICE_BIND_CONFIRM_PROVIDER"|translate}}:</label>
      <span></span>
    </div>
    <div class="info-detail">
      <label>{{"UTIL_SERIAL_NUMBER"|translate}}:</label>
      <span>{{bindData.physicalId}}</span>
    </div>
    <div class="info-detail">
      <label>{{"UTIL_MAC"|translate}}：</label>
      <span>{{bindData.physicalAddress}}</span>
    </div>
    <div class="info-detail">
      <label>{{"UTIL_DESCRIPTION"|translate}}：</label>
      <span></span>
    </div>
  </div>
  <div class="bind-action">
    <button class="btn btn-default" data-ng-click="deviceBind()">
      {{"DEVICE_BIND"|translate}}
    </button>
  </div>
</div>
