<div class="bind-wrapper" data-ng-show="bindMethod=='qrcode'">
  <!--<div class="bind-wrapper" data-ng-class="{'active':bindMethod=='qrcode'}">-->
  <div class="bind-title">
    <i class="fa fa-qrcode"></i>
    {{"DEVICE_BIND_QRCODE_TITLE"|translate}}
  </div>
  <div class="bind-description">
    {{"DEVICE_BIND_QRCODE_DESCRIPTION"|translate}}
  </div>
  <!--scan window-->
  <div class="bind-video" data-ng-show="qrcodeStart&&(!qrcodeFinished)"
       width="280" height="200"
       qrcode-success="qrcodeSuccess(result)" qrcode qrcode-start="{{qrcodeStart}}" qrcode-finished="{{qrcodeFinished}}">
  </div>
  <div data-ng-model="qrcodeFinished"></div>
  <!--success page-->
  <div class="qrmessage" data-ng-show="qrcodeStart&&qrcodeFinished&&qrcodePass">
    <div class="correct-wrapper"><i class="fa fa-check fa-2x"></i><div class="correct-title">{{"DEVICE_BIND_QRCODE_SCAN_SUCCESS"|translate}}！</div></div>
    <div class="correct-detail">
      <label>{{"UTIL_SERIAL_NUMBER"|translate}}：</label>
      <span>{{bindData.physicalId}}</span>
    </div>
    <div class="correct-detail">
      <label>{{"UTIL_MAC"|translate}}：</label>
      <span>{{bindData.physicalAddress}}</span>
    </div>
  </div>
  <!--error page-->
  <div class="qrmessage" data-ng-show="qrcodeStart&&qrcodeFinished&&qrcodeFailed">
    <div class="error-wrapper"><i class="fa fa-close fa-2x"></i><div class="error-title">{{"DEVICE_BIND_WRONG"|translate}}</div></div>
    <div class="error-detail">
      {{"DEVICE_BIND_QRCODE_WRONG_DESCRIPTION1"|translate}}<br>{{"DEVICE_BIND_QRCODE_WRONG_DESCRIPTION2"|translate}}
    </div>
  </div>
  <!--button for ready-->
  <div class="bind-action" data-ng-show="!qrcodeStart&&(!qrcodeFinished)">
    <button class="btn btn-default" data-ng-click="toggleStart()">
      {{"DEVICE_BIND_QRCODE_START_SCAN"|translate}}
    </button>
  </div>
  <!--button for scanning-->
  <div class="bind-action" data-ng-show="qrcodeStart&&(!qrcodeFinished)">
    <button class="btn btn-default" data-ng-click="toggleStart()">
      {{"DEVICE_BIND_QRCODE_STOP_SCAN"|translate}}
    </button>
  </div>
  <!--button for fail-->
  <div class="bind-action" data-ng-show="qrcodeFailed&&qrcodeStart&&qrcodeFinished">
    <button class="btn btn-default" data-ng-click="toggleFinish()">
      {{"DEVICE_BIND_QRCODE_RESCAN"|translate}}
    </button>
  </div>
  <!--button for success-->
  <div class="bind-action" data-ng-show="qrcodeStart&&qrcodeFinished&&qrcodePass">
    <button class="btn btn-default" data-ng-click="switchState(1)">
      {{"UTIL_NEXT"|translate}}
    </button>
  </div>
  <div class="bind-method" data-ng-show="qrcodePass&&qrcodeStart&&qrcodeFinished">
    <a href data-ng-click="toggleFinish()">
      {{"DEVICE_BIND_QRCODE_RESCAN"|translate}}
    </a>
  </div>
  <div class="bind-method">
    <a href data-ng-click="changeBindMethod('manual')">
      {{"DEVICE_BIND_QRCODE_MANUAL"|translate}}
    </a>
  </div>
</div>

<div class="bind-wrapper" data-ng-show="bindMethod=='manual'">
  <!--<div class="bind-wrapper" data-ng-class="{'active':bindMethod=='manual'}">-->
  <div class="bind-title">
    <i class="fa fa-pencil-square-o"></i>
    {{"DEVICE_BIND_QRCODE_MANUAL"|translate}}
  </div>
  <div class="bind-description">
    {{"DEVICE_BIND_QRCODE_DESCRIPTION"|translate}}
  </div>
  <form name="qrCode" class="bind-info">
    <div class="info-item">
      <label>{{"UTIL_SERIAL_NUMBER"|translate}}:</label>
      <input type="text" name="physicalId" data-ng-model="bindData.physicalId">
    </div>
    <div class="info-item">
      <label>{{"UTIL_MAC"|translate}}:</label>
      <input type="text" placeholder="XX-XX-XX-XX-XX-XX" name="physicalAddress" data-ng-model="bindData.physicalAddress" maxlength="17">
    </div>
    <span class='info-error' data-ng-bind="errorMessage"></span>
  </form>
  <div class="bind-action">
    <button class="btn btn-default" data-ng-click="checkQrcode()" >
      {{"UTIL_NEXT"|translate}}
    </button>
  </div>
  <div class="bind-method">
    <a href data-ng-click="changeBindMethod('qrcode')">
      {{"DEVICE_BIND_QRCODE_ADD_BY_QRCODE"|translate}}
    </a>
  </div>
</div>