.bind-wrapper {
  width: 300px;
  margin: 20px auto;
  .bind-title {
    text-align: center;
    font-size: 16px;
    color: #4DA47C;
  }

  .bind-description {
    //text-align: center;
    padding-top: 20px;
    font-size: 14px;
    color: #aeaeae;
  }

  .bind-action {
    padding-top: 80px;
    text-align: center;
  }

  .bind-method {
    padding-top: 15px;
    text-align: center;
    a {
      font-size: 14px;
      color: #4DA47C;
      text-decoration: underline;
    }
  }

  .bind-video {
    text-align: center;
    padding-top: 16px;
  }
  .qrmessage{
    text-align: center;
    height:221px;
    width: 300px;
    padding-top:16px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left:-150px;
    .error-wrapper{
      padding-top: 50px;
      font-size: 18px;
      line-height: 40px;
      color: red;
      font-weight: bold;
      i{
        display: inline-block;
      }
      .error-title{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 30px;
        display: inline-block;
      }
    }
    .error-detail{
      line-height: 25px;
       padding-top: 10px;
       font-size: 15px;
       color:#444;
     }
    .correct-wrapper{
      padding-top: 50px;
      font-size: 18px;
      line-height: 40px;
      color: green;
      font-weight: bold;
      i{
        display: inline-block;
      }
      .correct-title{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 30px;
        display: inline-block;
      }
    }
    .correct-detail{
       padding-top: 10px;
       font-size: 15px;
       color: #444;
     }
  }


  .bind-info {
    position: relative;
    margin-top: 20px;
    text-align: center;
    .info-error {
      position: absolute;
      left: 50%;
      margin-left: -85px;
      display: inline-block;
      width: 184px;
      color: red;
      margin-top: 10px;
      text-align: center;
    }
    .info-item {
      padding-top: 10px;
      label {
        display: inline-block;
        width: 80px;
        font-weight: normal;
        color: #3f3f3f;
      }
      input{
        width:100%;
      }
    }
    .info-detail {
      padding-top: 10px;
      label {
        display: inline-block;
        width: 30%;
        font-weight: normal;
        color: #3f3f3f;
        text-align: right;
      }
      span {
        padding-left: 10px;
        display: inline-block;
        width: 60%;
        color: #aeaeae;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .bind-wrapper {
    width: 500px;
  }
}
