<div class="bind-wrapper">
  <div class="bind-title">
    <i class="fa fa-wifi"></i>
    配置WiFi连接
  </div>
  <div class="bind-description">
    配置设备连接到WiFi，您需要提供一个可连接的WiFi，并手动输入WiFi的SSID和密码
  </div>
  <div class="bind-info">
    <div class="info-item">
      <label>SSID:</label>
      <input type="text" placeholder="请输入wifi名称" data-ng-model="wifiInfo.ssid" data-ng-disabled="wifiStart" ng-hide="autoWifi">
      <!--<select class="form-control" id="ssid" data-ng-model="wifiInfo.ssid" data-ng-disabled="wifiStart" ng-options="wifi.name for wifi in wifiList" ng-show="autoWifi"></select>-->
      <div uib-dropdown is-open="false" ng-show="autoWifi">
        <button id="ssid-button" class="ssid" type="button" ng-class="{'disabled':wifiStart}" class="btn" uib-dropdown-toggle data-ng-disabled="wifiStart">
          {{wifiInfo.ssid}}
          <!--<span class="caret"></span>-->
        </button>
        <ul uib-dropdown-menu role="menu" class="ssid-ul" aria-labelledby="ssid-button">
          <li ng-repeat="wifi in wifiList" class="ssid-li" ng-click="wifiInfo.ssid=wifi.name">{{wifi.name}}</li>
        </ul>
      </div>
      <button class="btn btn-link btn-ani" ng-show="autoWifi" ng-click="autoWifi=false">手动输入SSID</button>
      <button class="btn btn-link btn-ani" ng-hide="autoWifi" ng-click="autoWifi=true">从列表选择SSID</button>
    </div>
    <div class="info-item">
      <label>密码:</label>
      <input type="password" placeholder="请输入密码" data-ng-model="wifiInfo.password" data-ng-disabled="wifiStart">
    </div>
  </div>
  <div data-ng-show="!wifiStart">
    <div class="bind-action">
      <button class="btn btn-default" data-ng-click="startWifiConfig()">
        开始配置
      </button>
    </div>
    <div class="bind-method">
      <a href data-ng-click="ignoreWifi()">跳过</a>
    </div>
  </div>
  <div class="bind-action" data-ng-show="wifiStart">
    <button class="btn btn-default" data-ng-click="stopWifiConfig()">
      停止配置
    </button>
  </div>
</div>