<div class="content-header">
  <div class="navbar">
    <div class="navbar-title">
      {{name}}
    </div>
    <div class="navbar-toggle" data-ng-click="toggleSidebar()">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </div>
    <div state-back current-state="currentState"></div>
  </div>
</div>
<div class="content-body">
  <iframe style="width: 100%;height: 100%" ng-if="app==='sunny'" src="http://sandbox.bj.anicel.cn:8000/sunny/home#/app/dashboard" frameborder="0"></iframe>
</div>