.device-share {
  height: 100%;
}
.device-share .panel-wrapper {
  margin: 0 10px;
  padding-top: 10px;
  border-bottom: 1px solid #e8e8e8;
}
.device-share .panel-wrapper .panel {
  box-shadow: none;
  padding-bottom: 10px;
}
.device-share .panel-wrapper .panel .panel-header {
  height: 44px;
}
.device-share .panel-wrapper .panel .panel-header .cover {
  float: left;
  margin-left: 16px;
  width: 44px;
  height: 44px;
  overflow: hidden;
}
.device-share .panel-wrapper .panel .panel-header .cover img {
  float: left;
  margin: 1px;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
.device-share .panel-wrapper .panel .panel-header .name {
  float: left;
  line-height: 44px;
  width: 80px;
  margin-left: 1%;
  white-space: nowrap;
  font-size: 16px;
  color: #111;
  text-align: center;
}
.device-share .panel-wrapper .panel .panel-header .info {
  float: left;
  margin-left: 20px;
  max-width: 200px;
  overflow: hidden;
}
.device-share .panel-wrapper .panel .panel-header .info .title {
  margin-top: 2px;
  font-size: 14px;
}
.device-share .panel-wrapper .panel .panel-header .info .subtitle {
  margin-top: 2px;
  font-size: 12px;
  color: #888;
}
.device-share .panel-wrapper .panel .panel-header .info .subtitle span {
  padding-left: 3px;
}
.device-share .panel-wrapper .panel .panel-header .option {
  float: right;
  margin-right: 5px;
  line-height: 44px;
}
.device-share .panel-wrapper .panel .panel-header .option button {
  border-radius: 0;
  color: #008000;
  font-size: 10px;
  padding-left: 12px;
  padding-right: 12px;
}
.device-share .panel-wrapper .panel .panel-header .option button:hover {
  background-color: #8dc23f;
  color: #fff;
}
.device-share .panel-wrapper .panel .panel-header .option .removeshare {
  color: #999999;
  font-size: 12px;
}
.device-share .panel-wrapper .panel .panel-header .option .removeshare:hover {
  color: #008000;
}
.device-share .sharebutton {
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
}
.device-share .sharebutton button {
  color: #008000;
  border-width: 0;
}
@media screen and (min-width: 768px) {
  .device-share .panel-wrapper {
    margin: 0 20px;
  }
}
