<div class="account-info">
  <div class="panel">
    <div class="panel-body">
      <a href="">
        <div class="item row">
          <div class="item-name col-xs-3">头像</div>
          <div class="item-detail col-xs-8"><img src="/images/IMG_5369.JPG"></div>
          <div class="item-next col-xs-pull-1"><i class="fa fa-angle-right"></i></div>
        </div>
      </a>
      <hr>
      <a href="">
        <div class="item row">
          <div class="item-name col-xs-3">名称</div>
          <div class="item-detail col-xs-8"> {{account.name}}</div>
          <div class="item-next col-xs-pull-1"><i class="fa fa-angle-right"></i></div>
        </div>
      </a>
      <hr>
      <a href="">
        <div class="item row">
          <div class="item-name col-xs-3">邮箱</div>
          <div class="item-detail col-xs-8">{{account.email}}</div>
          <div class="item-next col-xs-pull-1"><i class="fa fa-angle-right"></i></div>
        </div>
      </a>
      <hr>
      <a href="">
        <div class="item row">
          <div class="item-name col-xs-3">电话</div>
          <div class="item-detail col-xs-8">{{account.phoneNumber}}</div>
          <div class="item-next col-xs-pull-1"><i class="fa fa-angle-right"></i></div>
        </div>
      </a>
      <hr>
      <a href="">
        <div class="item row">
          <div class="item-name col-xs-3">公司</div>
          <div class="item-detail col-xs-8">{{account.company}}</div>
          <div class="item-next col-xs-pull-1"><i class="fa fa-angle-right"></i></div>
        </div>
      </a>
    </div>
  </div>
</div>
