<div class="device-detail-settings">
  <div class="panel">
    <div class="panel-body">
      <div class="settings-name">{{"UTIL_DESCRIPTION"|translate}}</div>
      <div class="settings-description">
        {{"DEVICE_DETAIL_INFO_SETTINGS_DESCRIPTION"|translate}}
      </div>
      <div class="settings-content">
        <input type="text" data-ng-model="description">
      </div>
      <div class="settings-action">
        <button class="btn btn-default" data-ng-click="cancel()">
          {{"UTIL_BACK"|translate}}
        </button>
        <button data-ng-disabled="account.accountId!==ownerId" class="btn btn-default" data-ng-click="modifyDevice('description',description)">
          {{"UTIL_MODIFY"|translate}}
        </button>
      </div>
    </div>
  </div>
</div>