<div class="main-wrapper">
  <div class="sidebar-mask" data-ng-click="sidebarCollapse()" data-ng-class="{'visible': !sidebarCollapsed}" ></div>
  <!--<div class="sidebar" ng-touchstart="touchStartCB()" ng-touchmove="touchStartCB()"  data-ng-class="{'sidebar-collapsed': sidebarCollapsed}">-->
  <div class="sidebar" ani-sidebar-slider data-ng-class="{'sidebar-collapsed': sidebarCollapsed}">
    <div class="sidebar-inner">
      <!--<div class="sidebar-top">-->
      <!--<a href="#/home" class="sidebar-brand">WildDragon</a>-->
      <!--</div>-->
      <div class="sidebar-header">
        <!--<div class="brand"></div>-->
        <div class="notify">
          <a href="#/notification"><i class="fa fa-bell"></i></a>
        </div>
        <div class="logout">
          <a href data-ng-click="logout()">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
          </a>
        </div>
        <div class="avatar">
          <a href="#/settings">
            <img data-ng-src="{{account.avatarUrl}}">
          </a>
        </div>
        <div class="info">
          <div class="name">
            <a href="#/settings">{{account.name}}</a>
          </div>
          <div class="email">
            <a href="#/settings">{{account.email}} </a>
          </div>
        </div>
      </div>
      <div class="sidebar-menu">
        <div class="list">
            <a class="list-item" data-ng-class="{'active': sideNavTabs.app.active}" href="#/application">
            <span class="icon"><i class="fa fa-th-large"></i></span>
            <span class="text">{{sideNavTabs.app.name|translate}}</span>
          </a>
          <a class="list-item" data-ng-class="{'active': sideNavTabs.device.active}" href="#/device/list">
            <span class="icon"><i class="fa fa-desktop"></i></span>
            <span class="text">{{sideNavTabs.device.name|translate}}</span>
          </a>
          <!--<a class="list-item" data-ng-class="{'active': sideNavTabs.store.active}" href="#/store">-->
            <!--<span class="icon"><i class="fa fa-shopping-bag"></i></span>-->
            <!--<span class="text">{{sideNavTabs.store.name|translate}}</span>-->
          <!--</a>-->
          <a class="list-item" data-ng-class="{'active': sideNavTabs.group.active}" href="#/group/list">
            <span class="icon"><i class="fa fa-users"></i></span>
            <span class="text">{{sideNavTabs.group.name|translate}}</span>
          </a>
          <a class="list-item" data-ng-class="{'active': sideNavTabs.settings.active}" href="#/settings">
            <span class="icon"><i class="fa fa-gear"></i></span>

            <span class="text">{{sideNavTabs.settings.name|translate}}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="content-wrapper" ani-sidebar-slider>-->
  <div class="content-wrapper" ani-sidebar-slider>
    <!--<div class="content" id="content" data-ng-class="{'content-collapsed': !sidebarCollapsed}" data-ui-view="">-->
      <div class="content" id="content" data-ui-view="">
      <!--<div class="content-header" data-ui-view="header"></div>-->
      <!--<div class="content-body" data-ui-view="body"></div>-->
    </div>
  </div>

</div>