<div class="content-header">
  <div class="navbar">
    <div class="navbar-toggle" data-ng-click="toggleSidebar()">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </div>
    <div state-back current-state="currentState"></div>
    <div refresh></div>
    <div class="navbar-title">
      {{"DEVICE_LIST_TITLE"|translate}}
    </div>
    <div class="navbar-plus">
      <a href="#/device/bind/qrcode">
        +
      </a>
    </div>
  </div>
</div>
<div class="content-body">
  <div class="device-list">
    <div class="panel-wrapper" data-ng-repeat="device in devices">
      <div class="panel" data-panel-collapsed="collapsed" data-ng-class="{'collapsed': collapsed}">
        <div class="panel-header" data-panel-toggle>
          <div class="cover">
            <a href="#/device/{{device.deviceId}}/info">
              <img data-ng-src="{{device.avatarUrl}}">
            </a>
          </div>
          <div class="info">
            <div class="title">
              <a href="#/device/{{device.deviceId}}/info">
                {{device.name}}
              </a>
            </div>
            <div ng-show="accountMap[device.owner].accountId===account.accountId" class="subtitle">
              {{accountMap[device.owner].name}}{{"DEVICE_LIST_OF_DEVICE"|translate}}
            </div>
            <div ng-show="accountMap[device.owner].accountId!==account.accountId" class="subtitle">
              {{"DEVICE_LIST_SHARE_FROM"|translate}}{{accountMap[device.owner].name}}
            </div>
          </div>
          <div class="extra">

          </div>
          <div class="options">
            <span uib-dropdown>
              <a href uib-dropdown-toggle>
                <i href class="fa fa-ellipsis-v"></i>
              </a>
              <ul uib-dropdown-menu>
                <li>
                  <a href="#/device/{{device.deviceId}}/info"><i class="fa fa-file"></i>&nbsp;&nbsp;{{"DEVICE_LIST_DEVICE_DETAIL"|translate}}</a>
                  <a href="#/device/{{device.deviceId}}/share" data-ng-show="device.owner==account.accountId">
                    <i class="fa fa-share-alt"></i>&nbsp;&nbsp;{{"DEVICE_LIST_SHARING_MANAGEMENT"|translate}}
                  </a>
                  <!--<a href data-ng-show="device.owner==account.accountId">-->
                  <!--<i class="fa fa-unlock"></i>&nbsp;&nbsp;解除绑定-->
                  <!--</a>-->
                </li>
              </ul>
            </span>
            <span>
              <a href>
                <i class="fa" data-ng-class="{'fa-angle-down': collapsed, 'fa-angle-up': !collapsed}"></i>
              </a>
            </span>
          </div>
        </div>
        <div class="panel-body" data-ng-class="{'collapsed': collapsed}">
          <div class="device-item" data-ng-repeat="slave in device.slaves">
            <div class="header" data-ng-class="{'active': slave.state==='ACTIVE'}">
              <i class="fa fa-circle"></i>
            </div>
            <div class="title">
              <a href="#/device/{{device.deviceId}}/info/{{slave.deviceId}}">
                {{slave.name}}
              </a>
            </div>
            <div class="subtitle">

            </div>
            <div class="more">
              <a href="#/device/{{device.deviceId}}/info/{{slave.deviceId}}">
                {{"UTIL_MORE"|translate}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>