<div class="navbar-tabs" data-tabs>
  <a class="navbar-tab" data-ng-class="{'active': listTabs.my.active}" data-tab data-tab-active="listTabs.my.active" href="{{listTabs.my.href}}">
    <span class="icon"><i class="fa fa-user"></i> </span>
    <span class="text">{{listTabs.my.name}}</span>
  </a>
  <a class="navbar-tab" data-ng-class="{'active': listTabs.shared.active}" data-tab data-tab-active="listTabs.shared.active" href="{{listTabs.shared.href}}">
    <span class="icon"><i class="fa fa-users"></i> </span>
    <span class="text">{{listTabs.shared.name}}</span>
  </a>
</div>
<div data-ui-view=""></div>