<div class="content-header">
    <div class="navbar">
        <div class="navbar-title">
            {{'SETTINGS_TITLE'| translate}}
        </div>
        <div class="navbar-toggle" data-ng-click="toggleSidebar()">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <div refresh></div>
    </div>
</div>
<div class="content-body">
    <div class="settings">
        <div class="settings-content" id="account-settings">
            <div class="title">{{"SETTINGS_ACCOUNT_INFORMATION"|translate}}</div>
            <div class="left">
                <div class="description">
                    {{"SETTINGS_ACCOUNT_INFORMATION_DESCRIPTION"|translate}}
                </div>
            </div>
            <div class="right">
                <div class="panel">
                    <div class="panel-body">
                        <div class="item avatar">
                            <a href="">
                                <div class="item-name highlight highlight">{{"ACCOUNT_AVATAR"|translate}}</div>
                                <div class="item-detail img"><img data-ng-src="{{account.avatarUrl}}"></div>
                                <div class="item-next"><i class="fa fa-angle-right"></i></div>
                            </a>
                        </div>
                        <div class="item">
                            <div href="">
                                <div class="item-name highlight">{{"ACCOUNT_NAME"|translate}}</div>
                                <div class="item-detail"> {{account.name}}</div>
                                <div class="item-next"><i class="fa fa-angle-right"></i></div>
                            </div>
                        </div>
                        <div class="item">
                            <div href="">
                                <div class="item-name highlight">{{"ACCOUNT_EMAIL"|translate}}</div>
                                <div class="item-detail">{{account.email}}</div>
                                <div class="item-next"><i class="fa fa-angle-right"></i></div>
                            </div>
                        </div>
                        <div class="item">
                            <div href="">
                                <div class="item-name highlight">{{"ACCOUNT_PHONENUMBER"|translate}}</div>
                                <div class="item-detail">{{account.phoneNumber}}</div>
                                <div class="item-next"><i class="fa fa-angle-right"></i></div>
                            </div>
                        </div>
                        <div class="item">
                            <div href="">
                                <div class="item-name highlight">{{"ACCOUNT_COMPANY"|translate}}</div>
                                <div class="item-detail">{{account.company}}</div>
                                <div class="item-next"><i class="fa fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="settings-content" id="lang-settings">
            <div class="title">{{"SETTINGS_LANGUAGE_SWITCH"|translate}}</div>
            <div class="left">
                <div class="description">
                    {{"SETTINGS_LANGUAGE_SWITCH_DESCRIPTION"|translate}}
                </div>
            </div>
            <div class="right">
                <div class="panel">
                    <div class="panel-body">
                            <div class="item-detail">
                                <div class="dropdown-wrapper">
                                    <div uib-dropdown is-open="false">
                                        <button id="lang-btn" class="lang-btn btn" uib-dropdown-toggle>
                                            {{curLang}}
                                        </button>
                                        <ul uib-dropdown-menu id="lang-ul" class="lang-ul" role="menu" aria-labelledby="lang-btn">
                                            <li id="lang-li" ng-repeat="lang in langAry" ng-click="switchLanguage(lang)">{{lang}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
