<div class="modal-close" data-ng-click="cancel()">
    <a href data-ng-click="cancel()">x</a>
</div>
<div class="group-modal active">
    <div class="modal-header">
        <div class="modal-icon">
            <h3>
                <i class="fa fa-users"></i>
            </h3>
        </div>
        <div class="modal-title">
            是否确定推出该组
        </div>
    </div>
    <div class="modal-body">
        <div class="modal-item">
            <div class="item-button">
                <button class="btn btn-default" data-ng-click="confirm()">确定</button>
                <button class="btn btn-default" data-ng-click="cancel()">取消</button>
            </div>
        </div>
    </div>
</div>