.modal {
  height: 100%;
}
.modal .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.modal .modal-dialog .modal-content {
  margin: 0;
  padding: 0;
  height: 100%;
  border: none;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
}
.modal .modal-dialog .modal-close {
  position: absolute;
  top: 15px;
  right: 20px;
  font: 700 20px Arial, sans-serif;
  line-height: normal;
  color: #777;
}
.modal .modal-dialog .modal-close:hover {
  cursor: pointer;
  color: #4DA47C;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 100%;
    height: 100%;
  }
}
.group-modal {
  opacity: 0;
  width: 0;
  max-height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: none;
  -webkit-transition: opacity .35s ease;
          transition: opacity .35s ease;
}
.group-modal.active {
  opacity: 1;
  width: 90%;
  max-width: 400px;
  max-height: 999px;
  padding-top: 80px;
  margin: 0 auto;
}
.group-modal .modal-header {
  margin: 0;
  padding: 0;
  border: none;
}
.group-modal .modal-header .modal-icon {
  height: 50px;
  line-height: 50px;
  color: #4DA47C;
  font: 100 30px arial, sans-serif;
  text-align: center;
}
.group-modal .modal-header .modal-title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
}
.group-modal .modal-footer {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
.group-modal .modal-footer .item-button {
  text-align: center;
}
.group-modal .modal-footer .item-button button {
  outline: 0;
  padding-left: 30px;
  padding-right: 30px;
  height: 30px;
  font-size: 12px;
  border-radius: 15px;
}
.group-modal .modal-footer .item-button button + button {
  margin-left: 5px;
}
.group-modal .modal-body {
  margin: 0;
  padding: 5px 0 0 0;
  border: none;
}
.group-modal .modal-body .modal-item {
  margin: 10px 9%;
}
.group-modal .modal-body .modal-item .item-label {
  text-align: center;
  margin-bottom: 5px;
  font-size: 14px;
  color: #757575;
}
.group-modal .modal-body .modal-item .item-input {
  margin-bottom: 15px;
}
.group-modal .modal-body .modal-item .item-input input[type="text"] {
  width: 100%;
}
.group-modal .modal-body .modal-item .item-input input[type="checkbox"] {
  margin: 0 0 0 20%;
  color: #4DA47C;
}
.group-modal .modal-body .modal-item .item-input .checkbox-label {
  display: inline-block;
  padding-left: 8px;
  color: #aaa;
  line-height: 23px;
}
.group-modal .modal-body .modal-item .item-input tags-input {
  width: 100%;
}
.group-modal .modal-body .modal-item .item-input tags-input .tags {
  width: 100%;
  min-height: 32px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.group-modal .modal-body .modal-item .item-input tags-input .tags.focused {
  border: 1px solid #4DA47C;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #81C784;
}
.group-modal .modal-body .modal-item .item-input tags-input .tags input[type="text"] {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 4px;
  border: none;
  box-shadow: none;
  -webkit-transition: none;
          transition: none;
  font: inherit;
}
.group-modal .modal-body .modal-item .item-input tags-input .tags .tag-item {
  background: #AED581;
}
.group-modal .modal-body .modal-item .item-input tags-input .host auto-complete .autocomplete {
  position: relative;
  z-index: 1000;
}
.group-modal .modal-body .modal-item .item-button {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.group-modal .modal-body .modal-item .item-button button {
  width: 80px;
  height: 28px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 12px;
  border-radius: 15px;
}
.group-modal .modal-body .modal-item .item-button button + button {
  margin-left: 5px;
}
.group-modal .modal-body .modal-item .item-groups {
  height: 50px;
}
.group-modal .modal-body .modal-item .item-groups.collapsed {
  overflow: hidden;
}
.group-modal .modal-body .modal-item .item-groups .item-group {
  float: left;
  height: 34px;
  width: 70px;
  margin: 4px;
  padding: 0 4px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  line-height: 34px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #757575;
}
.group-modal .modal-body .modal-item .item-groups .item-group.active,
.group-modal .modal-body .modal-item .item-groups .item-group:hover {
  cursor: pointer;
  color: white;
  background-color: #4DA47C;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.26);
}
.group-modal .modal-body .modal-item .item-collapse {
  clear: both;
  text-align: center;
  font-size: 25px;
}
.group-modal .modal-footer {
  border: none;
  text-align: center;
  margin-bottom: 30px;
}
