<div class="group-detail">
  <div class="detail-item">
    <div class="left">
      <div class="item-title">{{"UTIL_NAME"|translate}}</div>
    </div>
    <div class="right">
      <div class="item-content">
        <span class="text">{{group.name}}</span>
      </div>
    </div>
  </div>

  <div class="detail-item">
    <div class="left">
      <div class="item-title">{{"UTIL_MEMBER"|translate}}</div>
    </div>
    <div class="right">
      <div class="item-content">
        <div class="image-wrapper" data-ng-repeat="account in group.accounts">
          <a href="#/group/memInfo/{{group.groupId}}&{{account.accountId}}">
            <img data-ng-src="{{account.avatarUrl}}">
          </a>
          <!--<div class="image-mask">移除</div>-->
        </div>
        <!--<div class="image-wrapper">-->
          <!--<img src="/images/icon_plus.png" data-ng-click="openMember()">-->
        <!--</div>-->
      </div>
    </div>
  </div>

  <div class="detail-item" data-ng-show="group.owner.accountId !== account.accountId">
    <div class="left">
      <div class="item-title">{{"UTIL_EXIT"|translate}}</div>
    </div>
    <div class="right">
      <div class="item-content">
        <button class="btn btn-default" data-ng-click="quitGroup(group)">{{"UTIL_EXIT"|translate}}</button>
      </div>
    </div>
  </div>

  <div class="detail-item" data-ng-show="group.owner.accountId == account.accountId">
    <div class="left">
      <div class="item-title">{{"GROUP_REMOVE_GROUP"|translate}}</div>
    </div>
    <div class="right">
      <div class="item-content">
        <button class="btn btn-default" data-ng-click="removeGroup(group)">{{"UTIL_REMOVE"|translate}}</button>
      </div>
    </div>
  </div>
  <div class="detail-item" data-ng-show="group.owner.accountId == account.accountId">
    <div class="left">
      <div class="item-title">{{"GROUP_INVITE_NEW_GROUP"|translate}}</div>
    </div>
    <div class="right">
      <div class="item-content">
        <button class="btn btn-default" data-ng-click="inviteGroup()">{{"UTIL_INVITE"|translate}}</button>
      </div>
    </div>
  </div>
  <!--<div data-ui-view=""></div>-->
</div>
