<div class="modal-close" data-ng-click="cancel()">
    <a href data-ng-click="cancel()">x</a>
</div>
<div class="group-modal active">
    <div class="modal-header">
        <div class="modal-icon">
            <h3>
                <i class="fa fa-users"></i>
            </h3>
        </div>
        <div class="modal-title">
            {{"DEVICE_DETAIL_UNBIND_MODAL_TITLE"|translate}}
        </div>
    </div>
    <div class="panel panel-default group-list-panel" ng-show="deviceInfo.accountGroups.length>0">
        <div class="panel-heading">
            <h5 class="panel-title">
                {{"DEVICE_DETAIL_UNBIND_MODAL_DESCRIPTION"|translate}}
            </h5>
        </div>
        <div class="panel-body">
            <div class="group-list" data-ng-repeat="groupId in deviceInfo.accountGroups">{{groupMap[groupId].name}}</div>
        </div>
    </div>
    <div class="modal-body">
        <div class="modal-item">
            <div class="item-button">
                <button class="btn btn-default" data-ng-click="confirm()">{{"UTIL_CONFIRM"|translate}}</button>
                <button class="btn btn-default" data-ng-click="cancel()">{{"UTIL_CANCEL"|translate}}</button>
            </div>
        </div>
    </div>
</div>