<div class="contact-wrapper">
  <div class="contact-action">
    <button class="btn btn-default" data-ng-click="openShareModal()">
      创建共享
    </button>
  </div>
  <div class="contact-card" data-ng-repeat="group in deviceGroups">
    <div class="card-title">
      <a href=""><i class="fa fa-times"></i></a>
    </div>
    <div class="card-content">
      <div class="group-name">
        {{group.name}}
      </div>
      <div class="group-description">
        这是我的家庭组，里面都是我的家人
      </div>
      <div class="group-members">
        <div class="group-member" data-ng-repeat="account in getGroupAccounts(group)">
          <img src="/images/IMG_5369.JPG">
        </div>
      </div>
      <div class="action">
        <a href="#/contact/{{account.accountId}}">
          <div class="btn btn-default">
            更多
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
