<div class="device-detail">
  <div class="detail-content">
    <div class="title">{{"DEVICE_DETAIL_SLAVE_SETTINGS_BASIC_INFORMATION"|translate}}</div>
    <div class="left">
      <div class="description">
        {{"DEVICE_DETAIL_SLAVE_SETTINGS_BASIC_INFORMATION_DESCRIPTION"|translate}}
      </div>
    </div>
    <div class="right">
      <div class="panel">
        <div class="panel-body">
          <div class="item">
            <a href>
              <div class="item-name highlight">{{"UTIL_NAME"|translate}}</div>
              <div class="item-detail">{{device.name}}</div>
              <div class="item-next"><i class="fa fa-angle-right"></i></div>
            </a>
          </div>
          <div class="item">
            <a href>
              <div class="item-name highlight">{{"UTIL_STATE"|translate}}</div>
              <div class="item-detail">{{device.state}}</div>
              <div class="item-next"><i class="fa fa-angle-right"></i></div>
            </a>
          </div>
          <div class="item">
            <a href>
              <div class="item-name highlight">{{"UTIL_DESCRIPTION"|translate}}</div>
              <div class="item-detail">{{device.description}}</div>
              <div class="item-next"><i class="fa fa-angle-right"></i></div>
            </a>
          </div>
          <div class="item">
            <a href>
              <div class="item-name highlight">ID</div>
              <div class="item-detail">{{device.deviceId}}</div>
              <div class="item-next"><i class="fa fa-angle-right"></i></div>
            </a>
          </div>
          <div class="item">
            <a href>
              <div class="item-name highlight">{{"UTIL_SERIAL_NUMBER"|translate}}</div>
              <div class="item-detail">{{device.physicalId}}</div>
              <div class="item-next"><i class="fa fa-angle-right"></i></div>
            </a>
          </div>
          <div class="item">
            <a href>
              <div class="item-name highlight">{{"UTIL_MAC"|translate}}</div>
              <div class="item-detail">{{device.physicalAddress}}</div>
              <div class="item-next"><i class="fa fa-angle-right"></i></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-content">
    <div class="title">{{"DEVICE_DETAIL_INFO_SETTINGS_SLAVE_DEVICE_FUNCTION"|translate}}</div>
    <div class="left">
      <div class="description">
        {{"DEVICE_DETAIL_INFO_SETTINGS_SLAVE_DEVICE_FUNCTION_DESCRIPTION"|translate}}
      </div>
    </div>
    <div class="right">
      <div class="panel">
        <div class="panel-body">
          <div class="item">
            <div class="item-name highlight">{{"DEVICE_DETAIL_SLAVE_SETTINGS_FUNCTION_ID"|translate}}</div>
            <div class="item-detail highlight">{{"DEVICE_DETAIL_SLAVE_SETTINGS_FUNCTION_GROUP_ID"|translate}}</div>
          </div>
          <div class="item" data-ng-repeat="function in device.functions">
            <a href>
              <div class="item-name">{{function.functionId}}</div>
              <div class="item-detail">{{function.groupId}}</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-content">
    <div class="title">{{"DEVICE_DETAIL_SLAVE"|translate}}</div>
    <div class="left">
      <div class="description">
        {{"DEVICE_DETAIL_SLAVE_DESCRIPTION"|translate}}
      </div>
    </div>
    <div class="right">
      <div class="panel">
        <div class="panel-body">
          <div class="item">
            <div class="item-name highlight">{{"UTIL_NAME"|translate}}</div>
            <div class="item-detail highlight">{{"UTIL_DESCRIPTION"|translate}}</div>
          </div>
          <div class="item item-vertical" data-ng-repeat="slave in device.slaves">
            <a href="#/device/detail/{{device.deviceId}}/slave/{{slave.deviceId}}">
              <div class="item-name">{{slave.name}}</div>
              <div class="item-detail">{{slave.description}}</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-content">
    <div class="title">{{"DEVICE_DETAIL_UNBIND"|translate}}</div>
    <div class="left">
      <div class="description">
        {{"DEVICE_DETAIL_UNBIND_DESCRIPTION"|translate}}
      </div>
    </div>
    <div class="right">
      <div class="panel">
        <div class="panel-body">
          <div class="item">
            <div class="item-name highlight">{{"DEVICE_DETAIL_UNBIND"|translate}}</div>
            <div class="item-detail highlight">
              <button class="btn btn-default">{{"UTIL_CONFIRM"|translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>