.device-share {
  .panel {
    margin: 15px;

    .panel-header {
      border-bottom: 1px solid #e8e8e8;

      .title {
        float: left;
        margin: 15px 0 15px 30px;
        font-size: 16px;
        color: #111;
      }

      .option {
        float: right;
        margin: 15px 8px 15px;
        font-size: 22px;
      }

      span {
        width: auto;
        padding-right: 12px;
      }
    }

    .panel-body {
      .item {
        height: 50px;

        .cover {
          float: left;
          width: 50px;
          height: 50px;
          padding: 7px 15px;

          img {
            width: 36px;
            height: 36px;
            border-radius: 36px;
          }
        }

        .info {
          float: left;
          padding: 15px;
        }
      }

      .item + .item {
        border-top: 1px solid #e8e8e8;
      }
    }
  }
  @media (min-width: 768px) {
    .panel {
      margin: 15px 35px;
    }
  }

}

.modal-dialog {
  margin: 100px auto;
  width: 300px;
  .modal-content {
    border-radius: 4px;
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 400px;
  }
}

.share-modal {
  .modal-header {
    margin: 0;
    padding: 0;
    border: none;
    .modal-close {
      float: right;
      padding: 12px;
      font-size: 12px;
      color: #aeaeae;
    }
  }
  .modal-body {
    margin: 0;
    padding: 0;
    border: none;
    .line {
      margin: 10px 0;
      text-align: center;
      &:last-child {
        margin-bottom: 30px;
      }

      .icon {
      color: #8BC34A;
      font-size: 20px;
      }

      .text {
        font-size: 16px;
      }

      input {
        width: 240px;
      }

      button {
        height: 30px;
        font-size: 13px;
      }
    }
  }
  .modal-footer {
    border: none;
    text-align: center;
    margin-bottom: 30px;
  }
}
