<div class="modal-close" data-ng-click="cancel()">
  <a href data-ng-click="cancel()">x</a>
</div>
<div class="group-modal" data-ng-class="{'active': stage==0}">
  <div class="modal-header">
    <div class="modal-icon">
      <h3>
        <i class="fa fa-users"></i>
      </h3>
    </div>
    <div class="modal-title">
      {{"GROUP_ADD_MODAL_TITLE"|translate}}
    </div>
  </div>
  <div class="modal-body">
    <div class="modal-item">
      <div class="item-input">
        <input type="text" placeholder="{{'GROUP_ADD_MODAL_TYPE_GROUP_NAME'|translate}}" data-ng-model="groupData.name">
      </div>
      <div class="item-button">
        <button class="btn btn-default" data-ng-click="forward()">{{"UTIL_CONFIRM"|translate}}</button>
      </div>
    </div>
  </div>
</div>
<div class="group-modal" data-ng-class="{'active': stage==1}">
  <div class="modal-header">
    <div class="modal-icon">
      <h3>
        <i class="fa fa-users"></i>
      </h3>
    </div>
    <div class="modal-title">
      {{"GROUP_INVITE_MODAL_TITLE"|translate}}
    </div>
    <div class="modal-close" data-ng-click="cancel()">
      <a href data-ng-click="cancel()">x</a>
    </div>
  </div>
  <div class="modal-body">
    <div class="modal-item">
      <div class="item-input">
        <tags-input type="text" placeholder="{{'GROUP_ADD_MODAL_TYPE_EMAIL'|translate}}" data-ng-model="groupData.accounts"
                    display-property="name" add-from-autocomplete-only="true">
          <auto-complete source="loadTags($query)" min-length="1" display-property="email"></auto-complete>
        </tags-input>
      </div>
      <div class="item-button">
        <button class="btn btn-default" data-ng-click="backward()">{{"UTIL_PREV"|translate}}</button>
        <button class="btn btn-default" data-ng-click="submit()">{{"UTIL_CONFIRM"|translate}}</button>
      </div>
    </div>
  </div>
</div>