<div class="group-wrapper">
  <div class="group-card" data-ng-repeat="group in groups">
    <div class="close-button">
      <a data-ng-click="removeGroup(group)">x</a>
    </div>
    <div class="card-title">
      <div class="group-name">
        {{group.name}}
      </div>
    </div>
    <div class="card-content">
      <div class="group-description">
      </div>
      <div class="group-members">
        <div class="group-member" data-ng-repeat="account in group.accounts">
          <img src="{{account.avatarUrl}}">
        </div>
      </div>
      <div class="action">
        <a href="#/group/{{group.groupId}}">
          <div class="btn btn-default">
            更多
          </div>
        </a>
      </div>
    </div>
  </div>
</div>