.group-wrapper {
  padding: 16px 20px;
  .group-action {
    width: 80px;
    margin: 0 auto;
  }
  .group-card {
    float: left;
    width: 116px;
    height: 146px;
    margin: 15px 10px;
    border: 1px solid #e5e5e5;
    //border-radius: 4px;
    border-radius: 0;
    &:hover {
      border-color: #fff;
      transform: scale(1.001);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.26);
    }
    .close-button {
      position: absolute;
      top: 2px;
      right: 5px;
      //float: right;
      //margin-right: 10px;
      //margin-top: 5px;
      font: 700 14px Arial,sans-serif;
      a {
        color: #ccc;
        &:hover {
          color: #008000;
        }
      }
    }
    .card-title {
      .group-name {
        max-width: 100px;
        line-height: 16px;
        margin: 5px auto 0;
        font-size: 14px;
        color: #008000;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
      }
    }
    .card-content {
      .group-description {
        padding-top: 5px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        font-size: 12px;
        color: #757575;
      }
      .group-members {
        //padding-top: 10px;
        height: 80px;
        width: 80px;
        margin: 4px auto;
        overflow: hidden;
        .group-member {
          @group-member-height: 36px;
          float: left;
          margin: 2px;
          height: @group-member-height;
          width: @group-member-height;
          //background-color: #a8a8a8;
          img {
            height: @group-member-height;
            width: @group-member-height;
            //border-radius: @group-member-height;
          }
        }
      }
      .action {
        clear: both;
        margin: 10px 16px;
        text-align: center;

        .btn-default {
          width: 100%;
          padding: 1px 0;
          font-size: 11px;
          //border-radius: 12px;
          border-radius:0
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .group-wrapper {
    padding: 10px;
    overflow: hidden;
    .group-action {
      margin: 0 12px;
    }
    .group-card {
      float: left;
      margin: 16px 12px;
    }
  }
}