<div class="device-share">
  <div class="panel-wrapper" data-ng-repeat="share in shareList">
    <div class="panel">
      <div class="panel-header">
        <a href="#/group/{{share.group.groupId}}">
          <div class="cover" data-ng-click="$event.stopPropagation()">
            <img data-ng-src="{{account.avatarUrl}}" data-ng-repeat="account in share.group.accounts">
          </div>
        </a>
        <div class="info">
          <div class="title">
            {{"DEVICE_SHARE_SHARED"|translate}}{{share.group.name}}
          </div>
          <div class="subtitle">
            {{"DEVICE_SHARE_PERMISSION"|translate}}: <span data-ng-repeat="type in share.types">{{getPermissionTypeName(type)}}</span>
          </div>
        </div>
        <div class="option">
          <a class="removeshare" data-ng-click="removeShare(share)">{{"DEVICE_SHARE_UNSHARED"|translate}}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="sharebutton">
    <button class="btn btn-default" data-ng-click="addShare()">
      {{"DEVICE_SHARE_CREATE_SHARE"|translate}}
    </button>
  </div>
</div>