<div class="content-header">
  <div class="navbar">
    <div class="navbar-title">
      商店
    </div>
    <div class="navbar-toggle" data-ng-click="toggleSidebar()">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </div>
  </div>
</div>
<!--<ion-side-menus class="content-body">-->
  <!--<ion-side-menu class="sidebar111" side="left"></ion-side-menu>-->
  <!--<ion-side-menu-content class="content" ng-controller="ContentController"></ion-side-menu-content>-->
<!--</ion-side-menus>-->