<div class="share-modal">
  <div class="modal-header">
    <div class="modal-close" data-ng-click="cancel()">
      <a href data-ng-click="cancel()">X</a>
    </div>
  </div>
  <div class="modal-body">
    <div class="line">
      <i class="icon fa fa-share-alt"></i>
    </div>
    <div class="line">
      选择共享成员
    </div>
    <div class="line">
      <input type="text" placeholder="请输入共享成员邮箱" data-ng-model="members">
    </div>
    <div class="line">
      <button class="btn btn-default" data-ng-click="backward()">上一步</button>
      <button class="btn btn-default" data-ng-click="forward()">下一步</button>
    </div>
  </div>
</div>