.content-body {
  width: 100%;
  height: 100%;
}
.content-body .sidebar111 {
  height: 100%;
  width: 275px;
  background-color: red;
}
.content-body .content {
  width: 100%;
  height: 100%;
  background-color: blue;
}
