/* app css stylesheet */

html, body {
  height: 100%;
  margin: 0;
}

/* a */
a,
a:link,
a:active,
a:visited {
  text-decoration: none;
  color: #888;
}
a:hover,
a:focus,
a.active {
  text-decoration: none;
  color: #111;
}

video {
  background-color: black;
}

.screen-wrapper {
  margin: auto;
  max-width: 1440px;
  height: 100%;
}

.main-wrapper {
  position: relative;
  height: 100%;
  overflow: hidden;
}
