<div class="device-detail-settings">
  <div class="panel">
    <div class="panel-body">
      <div class="settings-name">描述</div>
      <div class="settings-description">
        您可以修改设备显示的描述
      </div>
      <div class="settings-content">
        <input type="text" data-ng-model="description">
      </div>
      <div class="settings-action">
        <button class="btn btn-default" data-ng-click="cancel()">
          返回
        </button>
        <button data-ng-disabled="account.accountId!==ownerId" class="btn btn-default" data-ng-click="modifyDevice('description',description)">
          修改
        </button>
      </div>
    </div>
  </div>
</div>