<!--This page is used-->
<div class="content-header" ng-touchmove="tryfn()">
  <div class="navbar">
    <div class="navbar-title">{{"DEVICE_BIND_TITLE"|translate}}</div>
    <div class="navbar-toggle" data-ng-click="toggleSidebar()">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <hr class="divide-line">
    </div>
    <div ani-switch-page switch-url="{{currentUrl}}"></div>
  </div>
</div>
<div class="content-body" data-ui-view="">
</div>