.bind-wrapper {
  width: 300px;
  margin: 20px auto;
}
.bind-wrapper .bind-title {
  text-align: center;
  font-size: 16px;
  color: #4DA47C;
}
.bind-wrapper .bind-description {
  padding-top: 20px;
  font-size: 14px;
  color: #aeaeae;
}
.bind-wrapper .bind-action {
  padding-top: 80px;
  text-align: center;
}
.bind-wrapper .bind-method {
  padding-top: 15px;
  text-align: center;
}
.bind-wrapper .bind-method a {
  font-size: 14px;
  color: #4DA47C;
  text-decoration: underline;
}
.bind-wrapper .bind-video {
  text-align: center;
  padding-top: 16px;
}
.bind-wrapper .qrmessage {
  text-align: center;
  height: 221px;
  width: 300px;
  padding-top: 16px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -150px;
}
.bind-wrapper .qrmessage .error-wrapper {
  padding-top: 50px;
  font-size: 18px;
  line-height: 40px;
  color: red;
  font-weight: bold;
}
.bind-wrapper .qrmessage .error-wrapper i {
  display: inline-block;
}
.bind-wrapper .qrmessage .error-wrapper .error-title {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
  display: inline-block;
}
.bind-wrapper .qrmessage .error-detail {
  line-height: 25px;
  padding-top: 10px;
  font-size: 15px;
  color: #444;
}
.bind-wrapper .qrmessage .correct-wrapper {
  padding-top: 50px;
  font-size: 18px;
  line-height: 40px;
  color: green;
  font-weight: bold;
}
.bind-wrapper .qrmessage .correct-wrapper i {
  display: inline-block;
}
.bind-wrapper .qrmessage .correct-wrapper .correct-title {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
  display: inline-block;
}
.bind-wrapper .qrmessage .correct-detail {
  padding-top: 10px;
  font-size: 15px;
  color: #444;
}
.bind-wrapper .bind-info {
  position: relative;
  margin-top: 20px;
  text-align: center;
}
.bind-wrapper .bind-info .info-error {
  position: absolute;
  left: 50%;
  margin-left: -85px;
  display: inline-block;
  width: 184px;
  color: red;
  margin-top: 10px;
  text-align: center;
}
.bind-wrapper .bind-info .info-item {
  width: 75%;
  margin: 0 auto;
  padding-top: 10px;
}
.bind-wrapper .bind-info .info-item label {
  display: inline-block;
  width: 80px;
  font-weight: normal;
  color: #3f3f3f;
}
.bind-wrapper .bind-info .info-item input {
  width: 100%;
}
.bind-wrapper .bind-info .ssid {
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 6px;
  height: 32px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.bind-wrapper .bind-info .ssid-ul {
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  padding: 0;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.bind-wrapper .bind-info .ssid-li {
  background-color: white;
  border-radius: 0;
  height: 32px;
  padding: 6px;
  text-align: center;
  cursor: pointer;
}
.bind-wrapper .bind-info .info-detail {
  padding-top: 10px;
}
.bind-wrapper .bind-info .info-detail label {
  display: inline-block;
  width: 30%;
  font-weight: normal;
  color: #3f3f3f;
  text-align: right;
}
.bind-wrapper .bind-info .info-detail span {
  padding-left: 10px;
  display: inline-block;
  width: 60%;
  color: #aeaeae;
}
.bind-wrapper .btn-ani {
  color: #4DA47C;
}
#ssid-button.disabled {
  background-color: #ebebe4;
}
@media screen and (min-width: 768px) {
  .bind-wrapper {
    width: 500px;
  }
}
