

/* content */
.content {
  position: relative;
  overflow-x: hidden;
  transition: all 0.35s ease;
  width: 100%;
  height: 100%;
}

.content-collapse {
  margin-left: 260px;
}

@media (min-width: 768px) {
  .content {
    width: calc(100% - 260px);
    margin-left: 260px;
  }
}

.content-header {
  width: calc(100% - 240px);
  height: 54px;
  position: fixed;
  z-index: 10;
  background-color: #fff;
}

.content-body {
  margin-top: 49px;
  padding: 15px;
  width: 100%;
  min-height: calc(100% - 100px);
}

.content-footer {
  height: 50px;
}

