
/* list */
.list {
  /*margin: 10px;*/
  padding: 10px;
}

.list-item {
  position: relative;
  display: block;
  border-radius: 4px;
  padding: 10px 10px;
}

.list-item:hover,
.list-item:focus {
  background-color: #f8f8f8;
  box-shadow: 1px 1px 6px #e8e8e8;
  /*color:#8BC34A;*/
}

.list-item.active {
  box-shadow: 1px 1px 6px #e8e8e8;
  background-color: rgba(93, 219, 0, 0.46);

}

.list .list-item + .list-item {
  margin: 5px 0;
}

a.list-item {
  text-align: center;
  font-size: 15px;
  line-height: normal;
}

a.list-item.active {
  color: #fff;
}

