/*navbar*/

.navbar {
  position: relative;
  min-height: 50px;
  border-radius: 0;
  margin: 0;
  padding: 0 10px;
  /*border-bottom: 1px solid #e8e8e8;*/
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.26);
}

.navbar-toggle {
  /*position: relative;*/
  /*float: left;*/
  margin: 5px 0;
  padding: 10px 10px;
  background: transparent none;
}

@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }
}

.navbar-toggle:hover,
.navbar-toggle:focus {
  /*background-color: #eee;*/
  border: 1px solid #ddd;
  box-shadow: 2px 2px 6px #e8e8e8;
  /*border-radius: 3px;*/
}

.navbar-toggle .icon-bar {
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background-color: black;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-tool {
  position: relative;
  float: left;
  margin:0 5px;
  padding: 0;
}

.navbar-tool-right {
  float: right;
}

.navbar-tool .icon {
  padding: 14px 5px;
  color: #888;
}

.navbar-tool .icon:hover {
  color: #555;
}

.navbar-tool .input {
  width: 175px;
  height: 30px;
  margin: 8px 0;
  padding: 2px 4px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background: #fff none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .075) inset;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  /*radius: 2px;*/
}

.navbar-tool .input:focus {
  outline: 0;
  border: 1px solid #ddd;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, .6) inset;
}

.navbar-tabs {

  text-align: center;
  height: 50px;
  border-bottom: 1px solid #e8e8e8;
}
.navbar-tabs .navbar-tab + .navbar-tab {
  margin: 0 10px;
}
.navbar-tab {
  padding-top: 15px;
  height: 100%;
  min-width: 50px;
  display: inline-block;
}

.navbar-tab.active {
  border-bottom: 1px solid #111;
}