<div class="share-modal">
  <div class="modal-header">
    <div class="modal-close" data-ng-click="cancel()">
      <a href data-ng-click="cancel()">X</a>
    </div>
  </div>
  <div class="modal-body">
    <div class="line">
      <i class="icon fa fa-share-alt"></i>
    </div>
    <div class="line">
      添加共享
    </div>
    <div class="line">
      <input type="text" placeholder="请给共享命名" data-ng-model="name">
    </div>
    <div class="line">
      <button class="btn btn-default" data-ng-click="forward()">下一步</button>
    </div>
  </div>
</div>