<div class="navbar">
  <div class="title">
    <a href="#/device/detail/{{device.deviceId}}/info">
      {{device.name}}
    </a>
  </div>
  <div class="navbar-tool">
    <div class="navbar-toggle" data-ng-click="toggleSidebar()">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </div>
  </div>
  <div class="navbar-tool" data-history-back>
    <a href>
      <i class="fa fa-arrow-left"></i>
    </a>
  </div>
  <div class="navbar-tool navbar-tool-right" data-ng-click="">
    <a href="#/device/bind">
      <i class="fa fa-plus"></i>
    </a>
  </div>
</div>