.device-share {
  height: 100%;
}
.device-share .panel-wrapper {
  margin: 0 10px;
  padding-top: 10px;
  border-bottom: 1px solid #e8e8e8;
}
.device-share .panel-wrapper .panel {
  box-shadow: none;
  padding-bottom: 10px;
}
.device-share .panel-wrapper .panel .panel-header {
  height: 42px;
}
.device-share .panel-wrapper .panel .panel-header .cover {
  float: left;
  margin-left: 16px;
  width: 42px;
  height: 42px;
  overflow: hidden;
}
.device-share .panel-wrapper .panel .panel-header .cover img {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 20px;
}
.device-share .panel-wrapper .panel .panel-header .name {
  float: left;
  line-height: 42px;
  width: 80px;
  margin-left: 1%;
  white-space: nowrap;
  font-size: 16px;
  color: #111;
  text-align: center;
}
.device-share .panel-wrapper .panel .panel-header .info {
  float: left;
  margin-left: 20px;
  max-width: 200px;
  overflow: hidden;
}
.device-share .panel-wrapper .panel .panel-header .info .title {
  margin-top: 2px;
  font-size: 14px;
}
.device-share .panel-wrapper .panel .panel-header .info .subtitle {
  margin-top: 1px;
  font-size: 12px;
  color: #888;
}
.device-share .panel-wrapper .panel .panel-header .info .subtitle span {
  padding-left: 3px;
}
.device-share .panel-wrapper .panel .panel-header .option {
  float: right;
  margin-right: 5px;
  line-height: 42px;
}
.device-share .panel-wrapper .panel .panel-header .option button {
  border-radius: 0;
  color: #008000;
  font-size: 10px;
  padding-left: 12px;
  padding-right: 12px;
}
.device-share .panel-wrapper .panel .panel-header .option button:hover {
  background-color: #8dc23f;
  color: #fff;
}
.device-share .panel-wrapper .panel .panel-header .option .removeshare {
  color: #999999;
  font-size: 12px;
}
.device-share .panel-wrapper .panel .panel-header .option .removeshare:hover {
  color: #008000;
}
.device-share .sharebutton {
  margin-top: 18px;
  text-align: center;
}
.device-share .sharebutton button {
  color: #008000;
  border: solid 1px #008000;
}
.modal-list {
  width: 100%;
  font-size: 15px;
  color: #757575;
  text-align: center;
  line-height: 40px;
}
.modal-list .highlight {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
  color: #111;
  font-size: 16px;
}
.modal-list .item-name {
  display: inline-block;
  width: 30%;
}
.modal-list .item-detail {
  display: inline-block;
  width: 60%;
}
.modal-list .item-next {
  display: inline-block;
}
#search-btn1 {
  display: block;
  width: 120px;
  margin: 10px auto;
}
#search-btn2 {
  display: block;
  margin: 10px auto;
  line-height: 50px;
  text-align: center;
}
#search-btn3 {
  display: block;
  width: 120px;
  margin: 10px auto;
}
#search-btn4 {
  display: block;
  margin: 10px auto;
  text-align: center;
  line-height: 50px;
}
#search-btn5 {
  display: block;
  margin: 10px auto;
  text-align: center;
  line-height: 50px;
}
#search-btn6 {
  display: block;
  margin: 10px auto;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .device-share .panel-wrapper {
    margin: 0 20px;
  }
}
