<div class="device-detail">
  <div class="detail-content">
    <div class="title">基本信息</div>
    <div class="left">
      <div class="description">
        包括名称、ID、MAC地址、出厂序列号等设备基本信息
      </div>
    </div>
    <div class="right">
      <div class="panel">
        <div class="panel-body">
          <div class="item">
            <a href>
              <div class="item-name highlight">名称</div>
              <div class="item-detail">{{device.name}}</div>
              <div class="item-next"><i class="fa fa-angle-right"></i></div>
            </a>
          </div>
          <div class="item">
            <a href>
              <div class="item-name highlight">状态</div>
              <div class="item-detail">{{device.state}}</div>
              <div class="item-next"><i class="fa fa-angle-right"></i></div>
            </a>
          </div>
          <div class="item">
            <a href>
              <div class="item-name highlight">描述</div>
              <div class="item-detail">{{device.description}}</div>
              <div class="item-next"><i class="fa fa-angle-right"></i></div>
            </a>
          </div>
          <div class="item">
            <a href>
              <div class="item-name highlight">ID</div>
              <div class="item-detail">{{device.deviceId}}</div>
              <div class="item-next"><i class="fa fa-angle-right"></i></div>
            </a>
          </div>
          <div class="item">
            <a href>
              <div class="item-name highlight">序列号</div>
              <div class="item-detail">{{device.physicalId}}</div>
              <div class="item-next"><i class="fa fa-angle-right"></i></div>
            </a>
          </div>
          <div class="item">
            <a href>
              <div class="item-name highlight">MAC地址</div>
              <div class="item-detail">{{device.physicalAddress}}</div>
              <div class="item-next"><i class="fa fa-angle-right"></i></div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-content">
    <div class="title">设备功能</div>
    <div class="left">
      <div class="description">
        设备提供的功能
      </div>
    </div>
    <div class="right">
      <div class="panel">
        <div class="panel-body">
          <div class="item">
            <div class="item-name highlight">功能ID</div>
            <div class="item-detail highlight">所属功能组ID</div>
          </div>
          <div class="item" data-ng-repeat="function in device.functions">
            <a href>
              <div class="item-name">{{function.functionId}}</div>
              <div class="item-detail">{{function.groupId}}</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-content">
    <div class="title">从设备</div>
    <div class="left">
      <div class="description">
        连接到该设备的从属设备
      </div>
    </div>
    <div class="right">
      <div class="panel">
        <div class="panel-body">
          <div class="item">
            <div class="item-name highlight">名称</div>
            <div class="item-detail highlight">描述</div>
          </div>
          <div class="item item-vertical" data-ng-repeat="slave in device.slaves">
            <a href="#/device/detail/{{device.deviceId}}/slave/{{slave.deviceId}}">
              <div class="item-name">{{slave.name}}</div>
              <div class="item-detail">{{slave.description}}</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="detail-content">
    <div class="title">解除绑定</div>
    <div class="left">
      <div class="description">
        解除绑定将使设备变为无主状态,可重新绑定账号
      </div>
    </div>
    <div class="right">
      <div class="panel">
        <div class="panel-body">
          <div class="item">
            <div class="item-name highlight">解除绑定</div>
            <div class="item-detail highlight">
              <button class="btn btn-default">确定</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>