<div class="modal-close" data-ng-click="cancel()">
    <a href data-ng-click="cancel()">x</a>
</div>
<div class="group-modal active">
    <div class="modal-header">
        <div class="modal-icon">
            <h3>
                <i class="fa fa-users"></i>
            </h3>
        </div>
        <div class="modal-title">
            是否确认解除该设备绑定？
        </div>
    </div>
    <div class="panel panel-default" ng-show="deviceInfo.accountGroups">
        <div class="panel-heading">
            <h4 class="panel-title">
                这些群组将无法通过您的共享使用该设备:
            </h4>
        </div>
        <div class="panel-body">
            <div data-ng-repeat="groupId in deviceInfo.accountGroups">{{groupMap[groupId].name}}</div>
        </div>
    </div>
    <div class="modal-body">
        <div class="modal-item">
            <div class="item-button">
                <button class="btn btn-default" data-ng-click="confirm()">确定</button>
                <button class="btn btn-default" data-ng-click="cancel()">取消</button>
            </div>
        </div>
    </div>
</div>