<div class="content-header">
  <div class="navbar">
    <div class="navbar-title">{{device.name}}</div>
    <div class="navbar-toggle" data-ng-click="toggleSidebar()">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </div>
    <div state-back current-state="currentState"></div>
    <div class="navbar-plus">
      <a href="#/device/bind/qrcode">
        +
      </a>
    </div>
  </div>
</div>
<div class="content-body">
  <div class="nav-tabs">
    <a class="nav-tab" data-ng-class="{'active': detailNavTabs.info.active}" href="#/device/{{device.deviceId}}/info">
      <span class="icon"><i class="fa fa-file"></i> </span>
      <span class="text">{{detailNavTabs.info.name|translate}}</span>
    </a>
    <a class="nav-tab" data-ng-class="{'active': detailNavTabs.share.active}" href="#/device/{{device.deviceId}}/share" data-ng-show="device.owner==account.accountId">
      <span class="icon"><i class="fa fa-share-alt"></i> </span>
      <span class="text">{{detailNavTabs.share.name|translate}}</span>
    </a>
  </div>
  <div data-ui-view=""></div>
</div>